.betWrapper {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);

}

.betModule {
    text-align: center;
    margin: auto;
    border: 1.2vw solid #BEFFB9;
    border-radius: 5vw;
    background: #81FF95;
    width: 16vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.betbankcontainer {
    border: 0.6vw solid #FFFA8A;
    border-radius: 5vw;
    background: #FFE662;
    width: 10vw;
    margin: auto;
}

.betprompt {
    font-family: Bungee;
    font-size: 1.5vw;
    margin-top: 0.7vw;
    margin-bottom: 0.5vw;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.5px;
}

.mybank {
    color: white;
    font-size: 1vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 1.5vh;
    margin-bottom: -1.2vh;
}

.bankamount {
    font-size: 1.5vw;
    display: inline-block;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    margin-right: 0.3vw;

}

.bankcoin {
    width: 1.8vw;
    vertical-align: middle;
    padding-right: 0;
    margin-bottom: 0;
}

.betprice {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.7vw;
    font-size: 1.5vw;
    display: inline-block;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
}

.betcoin {
    width: 1.8vw;
    vertical-align: middle;
    margin-left: 0.3vw;
}

.slider {
    vertical-align: middle;
    margin: auto;
    width: 8vw;
    display: inline-block;
}

.slidercontainer {
    margin-top: 0.5vw;
    margin-bottom: 1vw;
}

.chooseCar {
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1vw;
    width: 42vw;
}

.chooseCarPrompt {
    font-family: Bungee;
    font-size: 1.5vw;
    margin-top: 0;
    margin-bottom: 1vw;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-column: 1/4;
    letter-spacing: 0.5px;
}

.carHeader {
    font-family: Bungee;
    font-size: 1.2vw;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.5px;
}

.displayCars {
    width: 2.5vw;
    transform: rotate(-90deg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    grid-column: 1/2;
    margin: auto;
}

.displayCar1 {
    border: 1vw solid #FFE6A6;
    width: 10vw;
    border-radius: 4vw;
    background: #FFD772;
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
}

.displayCar2 {
    border: 1vw solid #FFC9CF;
    width: 10vw;
    border-radius: 4vw;
    background: #FFA4AF;
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
}

.displayCar3 {
    border: 1vw solid #BAFAEE;
    width: 10vw;
    border-radius: 4vw;
    background: #6CF0D8;
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
}

.speedContainer {

    margin: auto;
    margin-top: 0.5vw;
    display: inline-flex;
    align-items: center;
    grid-column: 1/2;
}

.speed {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.7vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.speedDisplay {
    margin-left: 0.7vw;
    width: 3.5vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.desc {
    margin-top: 0.5vw;
    font-size: 0.6vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    grid-column: 1/2;
}

.betButton {
    background-color: rgb(115, 255, 102);
    text-align: center;
    margin: auto;
    font-weight: 800;
    font-size: 0.8vw;
    color: white;
    margin-top: 0.5vh;
    margin-bottom: 1vw;
    padding: 0.7vh;
    border: none;
    border-radius: 2vw;
    text-decoration: none;
    width: 7vw;
    letter-spacing: 0.25px;
}

.changebetcontainer {
    padding-top: 2vh;
    grid-column:  1/4;
}

.changebet {
    text-align: center;
    font-weight: 700;
    font-size: 0.8vw;
    color: white;
    background-color: #FFE662;
    padding: 0.6vw 0.8vw;
    border: none;
    border-radius: 5vw;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.changebet:hover {
    background-color: #ffd500;
}

