

.slider {
    vertical-align: middle;
    margin: auto;
    width: 150px;
    display: inline-block;

}

.chooseCar {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    width: 850px;
}

.chooseCarPrompt {
    grid-column: 1/4;
}

.displayCar1 {
    border: 20px solid #FFE6A6;
    border-radius: 53px;
    background: #FFD772;
}

.displayCar2 {
    border: 20px solid #FFC9CF;
    border-radius: 53px;
    background: #FFA4AF;
}

.displayCar3 {
    border: 20px solid #BAFAEE;
    border-radius: 53px;
    background: #6CF0D8;
}

.carHeader {
    font-family: Bungee;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.speedContainer {
    margin-top: -5px;
    display: inline-flex;
    align-items: center;
}

.speed {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.speedDisplay {
    margin-left: 10px;
    width: 110px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.desc {
    margin-top: 0;
    font-size: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.betButton {
    background-color: rgb(115, 255, 102);
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

.betbankcontainer {
    border: 12px solid #FFFA8A;
    border-radius: 53px;
    background: #FFE662;
    width: 175px;
    height: 100px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

.betprompt {
    font-family: Bungee;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: -20px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mybank {
    color: white;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 0px;
    margin-top: 15px;
    margin-bottom: -10px;
}

.bankamount {
    font-size: 30px;
    display: inline-block;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    margin-right: 5px;
}

.bankcoin {
    width: 30px;
    vertical-align: middle;
    padding-right: 0;
}

.betprice {
    margin-left: 10px;
    font-size: 30px;
    display: inline-block;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
}

.betcoin {
    width: 30px;
    vertical-align: middle;
    margin-left: 5px;
}

.chooseCar {
    color: white;
    margin: auto;
}

.chooseCarPrompt {
    font-family: Bungee;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slidercontainer {
    margin-top: -15px;
}

.displayCars {
    width: 50px;
    transform: rotate(-90deg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.betModule {
    text-align: center;
    margin: auto;
    border: 20px solid #BEFFB9;
    border-radius: 53px;
    background: #81FF95;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.changebetcontainer {
    padding-top: 10px;
    grid-column:  1/4;
}

.changebet {
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    color: white;
    background-color: #FFE662;
    margin: 10px;
    padding: 10px 24px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.changebet:hover {
    background-color: #ffd500;
}

.bankButtons a {
    text-decoration: none;
}

.startButton {
    background-color: #ff6868;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-top: 40px;
    display: block;
    border: none;
    border-radius: 10px;

}

.backButton {
    background-color: #ff3838;
    width: 150px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    border: none;
    border-radius: 10px;
}

.startButton a {
    color: white;
    font-size: 15px;
}

.backButton a {
    color: white;
}

