.car1 {
    width: 30px;
    position: absolute;
}

.car2 {
    width: 30px;
    position: absolute;
}

.car3 {
    width: 30px;
    position: absolute;
}

.racetrack {
    width: 1000px;
    position: absolute;
}
