@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.credits {
    padding-top: 5%;
    text-align: center;
    
}

.creditsimg {
    width: 15vw;
    margin-bottom: 2vh;
}

.creditsContainer {
    border: 1vw solid #FF4848;
    background: #FF8686;
    border-radius: 5vw;
    width: 20vw;
    margin: auto;
}

.credits h3 {
    color: white;
    font-size: 1vw;
    font-weight: 600;
    padding-top: 4.5vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.credits p {
    font-family: Bungee;
    margin-top: -2vh;
    margin-bottom: 0.5vh;
    color: white;
    font-size: 2vw;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
}

.social {
    margin-bottom: 5vh;
}

.githubicon {
    width: 3vw;
    margin-right: 0.7vw;
    filter: drop-shadow(0px 2px 0px  rgba(0, 0, 0, 0.1));
}

.linkedinicon {
    width: 3vw;
    margin-left: 0.7vw;
    filter: drop-shadow(0px 2px 0px  rgba(0, 0, 0, 0.1));
}

.creditButton {
    margin-top: 1.5vh;
    text-align: center;
}

.homeButton a {
    text-decoration: none;
}