@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.credits {
    padding-top: 5%;
    text-align: center;
}

.creditsimg {
    width:225px;
}

.credits h3 {
    color: #ff0000;
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
}

.credits p {
    color: #ff6868;
    font-size: 30px;
    font-weight: 700;
}

.githubicon {
    width: 50px;
    margin-right: 10px;
}

.linkedinicon {
    width: 50px;
    margin-left: 10px;
}