@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

html {
  background-image: url('../img/trackbackground.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #02cd31;
  width: 100vw;
  height: 100vh;
}

* {
  font-family: "Montserrat";
  color: white;
}

.navbar {
  text-align: center;
}

.logo img {
  width: 20%;
  margin-top: 5vh;
  margin-left: 5vh;
  filter: drop-shadow(4px 4px 4px  rgba(255, 0, 0, 1));
}

.btn-menu {
  padding-top: 3vh;
}

.btn-menu button {
  background-color: #ff6868;
  width: 15vw;
  margin: 0 auto;
  margin-top: 3vh;
  padding: 1vh;
  display: block;
  border: none;
  border-radius: 20px;
  filter: drop-shadow(4px 4px 4px  rgba(0, 0, 0, 0.2));
}

.btn-menu img {
  width: 1.5vw;
  margin-right: 0.5vw;
  vertical-align: middle;
}

.navbar a{
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  font-size: 1.5vw;

  color: white;
  text-decoration: none;
  vertical-align: middle;
}

.navbar button:hover {
  background-color: #ff4646;
}