@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.buttonContainer{
    margin-top: 0px;
    text-align: center;
}

.homeButton {
    font-weight: 800;
    font-size: large;
    color: white;
    background-color: #FF6868;
    margin: 20px;
    padding: 10px 24px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    
}

.homeButton:hover {
    background-color: #FF4848;
}

.start-Button {
    font-weight: 800;
    font-size: large;
    color: white;
    background-color: rgb(115, 255, 102);
    margin: 20px;
    padding: 10px 24px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.start-Button:hover {
    background-color: rgb(21, 255, 0);
}

.widgets {
    margin: auto;
    display: grid;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    grid-template-rows: auto;
    grid-template-areas: 
    "leaderboard betcar bank shop home"
    "leaderboard timer lap shop rules";
}

.leaderboard {
    text-align: center;
    justify-content: center;
    color: white;
    border: 12px solid #FF4848;
    background: #FF8686;
    border-radius: 53px;
    width: 160px;
    padding-bottom: 10px;
    grid-area: leaderboard;
}

.headerBox {
    grid-column: 1/4;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.headerBox hr {
    border: 3px solid white;
    border-radius: 7px;
    width: 60%;
    margin-top: 0;
    margin-bottom: 0;
}

.header{
    font-family: Bungee;
    font-size: 15px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
}

.place {
    font-family: Bungee;
    color: white;
    align-self: center;
    font-size: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 0;
    display: inline-block;
}

.car {
    font-family: Montserrat;
    color: white;
    align-self: center;
    font-size: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

.carImg {
    transform: rotate(90deg);
    width: 20px;
    vertical-align: middle;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    margin-bottom: 2px;
    filter: drop-shadow(4px 0px 0px  rgba(0, 0, 0, 0.1));
}

.betCar {
    justify-self: center;
    align-self: center;
    border: 12px solid #BEFFB9;
    border-radius: 53px;
    background: #81FF95;
    text-align: center;
    width: 125px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
    grid-area: betcar;
}

.betHeader {
    font-family: Bungee;
    font-size: 15px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
    grid-column: 1/3;
    justify-content: center;
}

.betDisplay{
    font-family: Montserrat;
    color: white;
    align-self: center;
    justify-self: end;
    font-size: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
    
}

.betCarDisplay {
    transform: rotate(90deg);
    width: 20px;
    align-self: center;
    justify-self: start;
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: 0;
    filter: drop-shadow(4px 0px 0px  rgba(0, 0, 0, 0.1));
}

.bank {
    justify-self: center;
    align-self: center;
    border: 12px solid #FFFA8A;
    border-radius: 53px;
    background: #FFE662;
    text-align: center;
    width: 125px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 15px;
    grid-area: bank;
}

.bankHeader {
    font-family: Bungee;
    font-size: 15px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
    grid-column: 1/3;
    justify-content: center;
}

.bankDisplay {
    font-family: Montserrat;
    color: white;
    align-self: center;
    padding-left: 30px;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.coin {
    width: 20px;
    justify-self: center;
    align-self: center;
    padding-right: 25px;
    margin-top: 0;
    margin-bottom: 0;
    filter: drop-shadow(0px 4px 4px  rgba(0, 0, 0, 0.15));
}

.timer {
    justify-self: center;
    align-self: center;
    text-align: center;
    color: white;
    width: 125px;
    padding: 0;
    border: 12px solid #FF4848;
    background: #FF8686;
    border-radius: 53px;
    padding-bottom: 10px;
    grid-area: timer;
}

.timerHeader {
    font-family: Bungee;
    font-size: 15px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
}

.timerDisplay {
    font-family: Orbitron;
    color: white;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.lap {
    justify-self: center;
    align-self: center;
    text-align: center;
    color: white;
    width: 125px;
    padding: 0;
    border: 12px solid #FF4848;
    background: #FF8686;
    border-radius: 53px;
    padding-bottom: 10px;
    grid-area: lap;
}

.lapHeader {
    font-family: Bungee;
    font-size: 15px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
}

.lapDisplay {
    font-family: Montserrat;
    color: white;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.shop {
    text-align: center;
    justify-content: center;
    color: white;
    padding: 0;
    border: 12px solid #FF4848;
    background: #FF8686;
    border-radius: 53px;
    width: 225px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: shop;
    padding-bottom: 10px;
}

.shopHeaderBox {
    grid-column: 1/4;
    padding: 0;
}

.shopHeaderBox hr {
    border: 3px solid white;
    border-radius: 10px;
    width: 30%;
    margin-top: 0;
    margin-bottom: 5px;
}

.shopHeader {
    font-family: Bungee;
    font-size: 15px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: -3px;
}

.itemImg {
    width: 25px;
    margin-left: 5px;
    justify-self: center;
    align-self: center;
}

.itemName {
    font-family: Montserrat;
    color: white;
    font-size: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    justify-self: start;
    align-self: center;
}

.buyButton {
    font-family: Bungee;
    font-size: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: rgb(115, 255, 102);
    border: none;
    border-radius: 25px;
    text-decoration: none;
    margin: 2px;
    height: 30px;
    width: 50px;
}

.buyButton:hover {
    background-color: rgb(21, 255, 0);
}

.shopCoin {
    width: 15px;
    vertical-align: middle;
}

.homeContainer {
    justify-self: center;
    align-self: end;
    display: grid;
    grid-area: home;
    margin-bottom: 5px;

}

.home {
    font-family: Bungee;
    font-size: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: #FF4848;
    border: 5px solid #ff7070;
    border-radius: 22px;
    text-decoration: none;
    width: 50px;
    height: 75px;
}

.home:hover {
    background-color: #ff7070;
}

.homeImg {
    width: 25px;
    margin-top: 10px;
}

.ruleButtonContainer {
    justify-self: center;
    align-self: start;
    display: grid;
    grid-area: rules;
    margin-top: 5px;
}

.rules {
    font-family: Bungee;
    font-size: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: #FF4848;
    border: 5px solid #ff7070;
    border-radius: 22px;
    text-decoration: none;
    width: 50px;
    height: 75px;
}

.rules:hover {
    background-color: #ff7070;
}

.rulesImg {
    width: 25px;
    margin-top: 10px;
}

.renderCars {
   position: relative;
   padding-right: 200px;
}

.popupContainer {
    display: flex;
    justify-content: center;
    align-self: center;
}

.popup {
    text-align: center;
    border: 20px solid #FF4848;
    background: #FF8686;
    border-radius: 53px;
    position: absolute;
    width: 400px;
}

.popup h1 {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.finalPlace {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-family: Montserrat;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0;
}

.numberPlace {
    font-family: Bungee;
    font-size: 72px;
    margin-top: -35px;
    margin-bottom: -35px;
}

.popupCoin {
    width: 35px;
    vertical-align: middle;
    margin-bottom: 7px;
}

.popupCar {
    width: 60px;
    transform: rotate(90deg);
    vertical-align: middle;
    margin-bottom: 15px;
    margin-left: 20px;
    filter: drop-shadow(4px 0px 0px  rgba(0, 0, 0, 0.25));
}

.won {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-family: Montserrat;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0;
}

.moneyWon {
    font-family: Bungee;
    font-size: 50px;
    margin-top: -25px;
    margin-bottom: -25px;
}

.winstreak {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.playAgain {
    font-weight: 800;
    font-size: x-large;
    color: white;
    background-color: rgb(115, 255, 102);
    padding: 15px 24px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.playAgain:hover {
    background-color:rgb(21, 255, 0);
}

.countdownContainer {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 100px;
}

.countdownPopup {
    text-align: center;
    border: 20px solid #BEFFB9;
    border-radius: 53px;
    background: #81FF95;
    position: absolute;
    width: 200px;
    height: 200px;
}

.starting {
    margin-top: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.seconds {
    font-family: Bungee;
    font-size: 100px;
    margin-top: -85px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.gameOver {
    font-family: bungee;
    margin-top: 10px;
    margin-bottom: -10px;
}

.bankrupt {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.repo {
    max-width: 300px;
    margin: auto;
    margin-bottom: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.tryAgain {
    font-weight: 800;
    font-size: large;
    color: white;
    background-color: rgb(115, 255, 102);
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}