@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.buttonContainer{
    margin-top: 0px;
    text-align: center;
}

.homeButton {
    font-weight: 800;
    font-size: 1vw;
    color: white;
    background-color: #FF6868;
    margin: 1vw;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 0.9vw;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    
}

.homeButton:hover {
    background-color: #FF4848;
}

.start-Button {
    font-weight: 800;
    font-size: 1vw;
    color: white;
    background-color: rgb(115, 255, 102);
    margin: 1vw;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 0.9vw;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.start-Button:hover {
    background-color: rgb(21, 255, 0);
}

.widgets {
    margin: auto;
    display: grid;
    width: 45vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1vw;
    grid-template-rows: auto;
    grid-template-areas: 
    "leaderboard betcar bank shop home"
    "leaderboard timer lap shop rules";
}

.leaderboard {
    text-align: center;
    justify-content: center;
    color: white;
    border: 0.7vw solid #FF4848;
    background: #FF8686;
    border-radius: 2.5vw;
    width: 8vw;
    padding-bottom: 0.1vh;
    grid-area: leaderboard;
}

.headerBox {
    grid-column: 1/4;
    padding: 0;
    margin-top: 0.3vh;
    margin-bottom: 0.3vh;
}

.headerBox hr {
    border: 0.2vw solid white;
    border-radius: 5vw;
    width: 60%;
    margin-top: 0;
    margin-bottom: 0;
}

.header{
    font-family: Bungee;
    font-size: 0.8vw;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
}

.place {
    font-family: Bungee;
    color: white;
    align-self: center;
    font-size: 0.8vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-right: 0.8vw;
    margin-bottom: 0;
    display: inline-block;
}

.car {
    font-family: Montserrat;
    color: white;
    align-self: center;
    font-size: 0.8vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

.carImg {
    transform: rotate(90deg);
    width: 1vw;
    vertical-align: middle;
    margin-left: 1vw;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    margin-bottom: 2px;
    filter: drop-shadow(4px 0px 0px  rgba(0, 0, 0, 0.1));
}

.betCar {
    justify-self: center;
    align-self: center;
    border: 0.7vw solid #BEFFB9;
    border-radius: 3vw;
    background: #81FF95;
    text-align: center;
    width: 6.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1vh;
    grid-area: betcar;
}

.betHeader {
    font-family: Bungee;
    font-size: 0.8vw;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
    grid-column: 1/3;
    justify-content: center;
}

.betDisplay{
    font-family: Montserrat;
    color: white;
    align-self: center;
    justify-self: end;
    font-size: 0.8vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
    
}

.betCarDisplay {
    transform: rotate(90deg);
    width: 1vw;
    align-self: center;
    justify-self: start;
    margin-top: 0;
    margin-left: 0.7vw;
    margin-bottom: 0;
    filter: drop-shadow(4px 0px 0px  rgba(0, 0, 0, 0.1));
}

.bank {
    justify-self: center;
    align-self: center;
    border: 0.7vw solid #FFFA8A;
    border-radius: 3vw;
    background: #FFE662;
    text-align: center;
    width: 6.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0.7vw;
    grid-area: bank;
}

.bankHeader {
    font-family: Bungee;
    font-size: 0.8vw;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
    grid-column: 1/3;
    justify-content: center;
}

.bankDisplay {
    font-family: Montserrat;
    color: white;
    align-self: center;
    padding-left: 1.4vw;
    font-size: 1vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.coin {
    width: 1vw;
    justify-self: center;
    align-self: center;
    padding-right: 1vw;
    margin-top: 0;
    margin-bottom: 0;
    filter: drop-shadow(0px 4px 4px  rgba(0, 0, 0, 0.15));
}

.timer {
    justify-self: center;
    align-self: center;
    text-align: center;
    color: white;
    width: 6.5vw;
    padding: 0;
    border: 0.7vw solid #FF4848;
    background: #FF8686;
    border-radius: 3vw;
    padding-bottom: 1vh;
    grid-area: timer;
}

.timerHeader {
    font-family: Bungee;
    font-size: 0.8vw;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
}

.timerDisplay {
    font-family: Orbitron;
    color: white;
    font-size: 1.1vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.lap {
    justify-self: center;
    align-self: center;
    text-align: center;
    color: white;
    width: 6.5vw;
    padding: 0;
    border: 0.7vw solid #FF4848;
    background: #FF8686;
    border-radius: 3vw;
    padding-bottom: 1vh;
    grid-area: lap;
}

.lapHeader {
    font-family: Bungee;
    font-size: 0.8vw;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
}

.lapDisplay {
    font-family: Montserrat;
    color: white;
    font-size: 1vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.shop {
    text-align: center;
    justify-content: center;
    color: white;
    padding: 0;
    border: 0.7vw solid #FF4848;
    background: #FF8686;
    border-radius: 4vw;
    width: 12vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: shop;
    padding-bottom: 1vh;
}

.shopHeaderBox {
    grid-column: 1/4;
    padding: 0;
}

.shopHeaderBox hr {
    border: 0.2vw solid white;
    border-radius: 3vw;
    width: 30%;
    margin-top: 0;
    margin-bottom: 0.5vh;
}

.shopHeader {
    font-family: Bungee;
    font-size: 0.8vw;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: -0.1vh;
}

.itemImg {
    width: 1.3vw;
    margin-left: 1vw;
    justify-self: center;
    align-self: center;
}

.itemName {
    font-family: Montserrat;
    color: white;
    font-size: 0.8vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    justify-self: start;
    align-self: center;
}

.buyButton {
    font-family: Bungee;
    font-size: 0.6vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: rgb(115, 255, 102);
    border: none;
    border-radius: 3vw;
    text-decoration: none;
    margin: 0.1vw;
    height: 3.5vh;
    width: 3vw;
}

.buyButton:hover {
    background-color: rgb(21, 255, 0);
}

.shopCoin {
    width: 0.8vw;
    vertical-align: middle;
}

.popoverBody {
    border: 0.3vw solid #FFFA8A;
    border-radius: 0.2vw 1vw 1vw 0.2vw ;
    background: #FFE662;
    padding: 0.3vw;
    font-weight: 700;
    font-size: 0.7vw;
    margin-left: 0.5vw;
    text-shadow: 0.3vw 00vw 0.4vw rgba(0, 0, 0, 0.2);
}

.popover-arrow-container {
    position: relative;
    vertical-align: middle;
}

.popover-arrow {
    margin-left: 0.1vw;
    vertical-align: middle;
}

.homeContainer {
    justify-self: center;
    align-self: end;
    display: grid;
    grid-area: home;
    margin-bottom: 0.5vh;

}

.home {
    font-family: Bungee;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: #FF4848;
    border: 0.3vw solid #ff7070;
    border-radius: 1.1vw;
    text-decoration: none;
    width: 2.6vw;
    height: 8vh;
}

.home:hover {
    background-color: #ff7070;
}

.homeImg {
    width: 1.2vw;
    vertical-align: middle;
    margin-bottom: 0.2vh;
}

.ruleButtonContainer {
    justify-self: center;
    align-self: start;
    display: grid;
    grid-area: rules;
    margin-top: 0.5vh;
}

.rules {
    font-family: Bungee;
    font-size: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: #FF4848;
    border: 0.3vw solid #ff7070;
    border-radius: 1.1vw;
    text-decoration: none;
    width: 2.6vw;
    height: 8vh;
}

.rules:hover {
    background-color: #ff7070;
}

.rulesImg {
    width: 1.2vw;
    vertical-align: middle;
}

.renderCars {
   position: relative;
   margin-left: -11vw;
   /* padding-right: 12vw; */
}

.popupContainer {
    display: flex;
    justify-content: center;
    align-self: center;
}

.popup {
    text-align: center;
    border: 1vw solid #FF4848;
    background: #FF8686;
    border-radius: 5vw;
    position: absolute;
    width: 20vw;
}

.popup h1 {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.finalPlace {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-family: Montserrat;
    font-size: 1.7vw;
    margin-top: 3vh;
    margin-bottom: 0px;
    padding-bottom: 0;
}

.numberPlace {
    font-family: Bungee;
    font-size: 4vw;
    margin-top: -4.5vh;
    margin-bottom: -3.8vh;
}

.popupCoin {
    width: 3vw;
    vertical-align: middle;
    margin-bottom: 0.7vh;
}

.popupCar {
    width: 3.5vw;
    transform: rotate(90deg);
    vertical-align: middle;
    margin-bottom: 1.5vh;
    margin-left: 1vw;
    filter: drop-shadow(4px 0px 0px  rgba(0, 0, 0, 0.25));
}

.won {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-family: Montserrat;
    font-size: 1.7vw;
    margin-top: 1vh;
    margin-bottom: 0px;
    padding-bottom: 0;
}

.moneyWon {
    font-family: Bungee;
    font-size: 3vw;
    margin-top: -3vh;
    margin-bottom: -3vh;
}

.winstreak {
    font-size: 1.5vw;
    margin-top: 1vh;
    margin-bottom: 2.5vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.playAgain {
    font-weight: 800;
    font-size: 1.2vw;
    color: white;
    background-color: rgb(115, 255, 102);
    padding: 0.7vw 1vw;
    border: none;
    border-radius: 3vw;
    text-decoration: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.playAgain:hover {
    background-color:rgb(21, 255, 0);
}

.countdownContainer {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 10vh;
}

.countdownPopup {
    text-align: center;
    border: 1.3vw solid #BEFFB9;
    border-radius: 3vw;
    background: #81FF95;
    position: absolute;
    width: 10.3vw;
    height: 10.3vw;
}

.starting {
    margin-top: 3vh;
    font-size: 1.2vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.seconds {
    font-family: Bungee;
    font-size: 5.5vw;
    margin-top: -5vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.gameOver {
    font-family: bungee;
    font-size: 2vw;
    margin-top: 0;
    margin-bottom: -2vh;
}

.bankrupt {
    font-size: 1.2vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2vh;
}

.repo {
    width: 16vw;
    font-size: 1vw;
    margin: auto;
    margin-bottom: 1vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.tryAgain {
    font-weight: 800;
    font-size: 1vw;
    color: white;
    background-color: rgb(115, 255, 102);
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 3vw;
    text-decoration: none;
    margin-top: 2.5vh;
    margin-bottom: 3vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1800px) { 
    .renderCars {
        transform: scale(0.95);
    }
   }
@media (max-width: 1700px) { 
    .renderCars {
        transform: scale(0.9);
    }
   }
@media (max-width: 1600px) { 
    .renderCars {
        transform: scale(0.85);
    }
   }
@media (max-width: 1500px) { 
    .renderCars {
        transform: scale(0.8);
    }
   }
@media (max-width: 1400px) { 
    .renderCars {
        transform: scale(0.75);
    }
   }
@media (max-width: 1300px) { 
    .renderCars {
        transform: scale(0.7);
    }
   }
@media (max-width: 1200px) { 
    .renderCars {
        transform: scale(0.65);
    }
   }
@media (max-width: 1100px) { 
    .renderCars {
        transform: scale(0.6);
    }
   }
@media (max-width: 1000px) { 
    .renderCars {
        transform: scale(0.55);
    }
   }
@media (max-width: 900px) { 
    .renderCars {
        transform: scale(0.5);
    }
   } 
@media (max-width: 800px) { 
    .renderCars {
        transform: scale(0.45);
    }
   }
@media (max-width: 700px) { 
    .renderCars {
        transform: scale(0.4);
    }
   }
@media (max-width: 600px) { 
    .renderCars {
        transform: scale(0.35);
    }
   }